name: Github Actions 실행시켜보기

on:
  push:
    branches:
      - main
env:
  NAME: kosa
  USERNAME: kosa
  USER_PASSWORD: ${{ secrets.USER_PASSWORD }}

jobs: 
  my-build-job:
    runs-on: ubuntu-latest

    steps: 
      - name: Hello World 찍기 # Step에 이름 붙이는 기능
        run: echo "Hello World" # 실행시킬 명령어 작성
        
      - name: 여러 명령어 문장 작성하기
        run: |
          echo "Good"
          echo "Morning"
      
      - name: 작업폴더가 무엇인지 출력 
        run: pwd

      - name: 작업 폴더 목록 확인 
        run: ls -la

      - name: 환경변수 모두 출력
        run: env

      - name: 환경변수 NAME 출력
        run: echo ${{ env.NAME }}
        
      - name: 환경변수 USERNAME 출력
        run: echo "USERNAME = ${{ env.USERNAME }}" 
        
      - name: 시크릿 USER_PASSWORD 출력
        run: |
          echo "USER_PASSWORD = ${{ env.USER_PASSWORD }}" 
          echo "USER_PASSWORD = ${{ secrets.USER_PASSWORD }}" 
  
  my-deploy-job:
    needs: my-build-job
    name: 배포 작업
    runs-on: self-hosted

    steps:
    - name: 배포 작업 1단계 파일 생성
      run: echo "Hello World" > output.txt
