name: Github Actions 실행

on:
  push:
    branches:
    - main

jobs:
  my-Deploy-Job:
    runs-on: ubuntu-latest

    steps: 
      - name: Hello World 찍기 # Step에 이름 붙이는 기능
        run: echo "Hello World" # 실행시킬 명령어 작성
        
      - name: 여러 명령어 문장 작성하기
        run: |
          echo "Good"
          echo "Morning"
